<html>

<head>
    <meta charset="UTF-8">
    <title>Visitor Information Form</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
    h2 {
        color: rgb(1, 2, 82);
    }
    
    p {
        color: rgb(45, 48, 255);
    }
    
    td {
        color: rgb(4, 0, 255)
    }
    
    body {
        background-image: url("https://mdbootstrap.com/img/Photos/Others/background.jpg");
    }
</style>
<center>

    <body>
        <br>
        <h2>Visitor Information Form</h2>
        <br><br>

        <p><a href='blist'>Total members visited : {{ count }} </a></p>

        <p><a href='blist'>Total Amount collected: {{adding}}</a></p>
    </body>
</center>
<br>
<center><button><a href="logout">back</a></button></center>

</html>