<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<style>
    body {
        color: rgb(0, 0, 0);
    }
    
    th {
        color: rgba(6, 10, 235, 0.788);
    }
    
    td {
        color: rgb(6, 2, 65)
    }
    
    body {
        background-image: url("https://i.pinimg.com/originals/94/30/e8/9430e85bcee211cda9dfff8400e2fe19.jpg");
        font-size: 5mm
    }
</style>

<body style="background-color:rgba(25, 230, 76, 0.555);"></body>
<br>
<button><a href="/blist">back</a></button>

<body>
    <center>
        <br>
        <h1>Visitor Details</h1>

        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Name:</b> {{form.Vistorname}}</li>
                <li class="list-group-item"><b>Age:</b> {{form.age}}</li>
                <li class="list-group-item"><b>Gender:</b> {{form.gender }}</li>
                <li class="list-group-item"><b>Mobile_number:</b> {{form.phone_no}}</li>
                <li class="list-group-item"><b>Email_id:</b> {{form.email}}</li>
                <li class="list-group-item"><b>Ticket_id:</b> {{form.Ticket_id}}</li>

            </ul>
        </div>


    </center>
</body>

</html>